<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext_ml.assignment_2_ssda/ass2/MyDsl"
			class = "assignment_2_ssda.xtext_ml.ass2.myDsl.MyDslPackage"
			genModel = "model/generated/MyDsl.genmodel" />
	</extension>
</plugin>
